/*
* @Author: liu602348184
* @Date:   2017-07-12 22:57:11
* @Last Modified by:   liu602348184
* @Last Modified time: 2017-08-05 03:07:22
*/
html{
	overflow-y: scroll;
}

body{
	padding-right: 0px !important;
}

h1{
	font-size: 1.8em;
}

.footer{
	padding-top: 30px;
	width: 100%;
	background-color: #f8f8f8;
	border-top: #e7e7e7 solid 1px;
	color: #777;
	margin-top: 40px;
}
.page-header{
	margin-top: 0px;
}

#bs-example-navbar-collapse{
	padding: 0px;
}

.h_logo{
	height: 50px;
    width: 120px;
    background-repeat: no-repeat;
	background-image: url(../img/logo.png);
	background-size: 120px auto;
}

.phrase{
	bottom: 0px;
	margin: auto;
	width: 100%;
}

.phrase>input{
	width: 100%;
    height: 40px;
    border: 2px dashed #ddd;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    text-align: center;
}

.scrollpanel{
	width: 100%;
	height: 100%;
	border: solid 1px #ddd;
	border-radius: 4px;
	padding: 9px;
	overflow: hidden;
    overflow-y: scroll;
}

.scrollpanel>ul{
	list-style: none;
	float: left;
	padding: 0px;
}

.scrollpanel>ul>li{
	display: block;
	float: left;
	margin: 4px;
	border: dashed 1px #ddd;
}

.scrollpanel>ul>li>img{
	height: 80px;
	cursor: pointer;
}

.preview{
	border: dashed #ddd 2px;
	border-radius: 4px;
	margin-bottom: 5px;
}

.facelist{
	list-style: none;
	padding: 0px;
	float: left;
	margin-top: 10px;
}

.facelist>li{
	display: block;
	float: left;
	/*border: solid 1px #ddd;*/
	/*margin: 2px;*/
	padding: 2px;
	overflow: hidden;
}

.facelist>li>.facepic{
	width: 174px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    border: solid 1px #ddd;
    width: 100%;
}

.facelist>li>.facepic>img{
	max-width: 174px;	
}

.articlelist a{
	color: #555;
}

.articlelist{
	list-style: none;
	padding: 0px;
	float: left;
}

.articlelist>li{
	display: block;
	float: left;
	padding: 7px;
	border-left: dashed 1px #ddd;
    border-bottom: dashed 1px #ddd;
	height: 140px;
	overflow: hidden;
}
.articlelist>.linefirst{
	border-left: none;
}

.imglist{
	list-style: none;
	padding: 0px;
	width: 100%;
	text-align: center;
}

.imglist>li{
	display: inline-block; 
}

.imglist>li>img{
	max-width: 100%
}

.news .media-body{
	font-size: 0.8em;
}

.news .media-body>h4{
	font-size: 1.4em;
}

.articlelist .media-left{
	height: 100px;
}

.articlelist .media-bottom{
	padding-top: 4px;
}

.articlelist .radius{
	border-radius: 4px;
	height: 100px;
	overflow: hidden;
}

.label{
	padding: 3px 8px 3px 8px;
	margin-right: 3px;
}

.text{
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
}

.detail .detail-info{
	width: 100%;
}

/*.media-body{
	display: block;
	float: left;
	width: auto !important;
}*/
